<h1>User: <%= @user.username %></h1>

<p>Phone number: 
    <% if logged_in? && @current_user.contact_permission?(@user) %>
        <%= @user.phone_number %>
    <% else %>
        XXXXXXXXXXX
        <p>Show interest in one of <strong><%= @user.username %></strong>'s donations to see their phone number.</p>
    <% end %>

<br>
<h5>Donations: </h5>

<% if @user.my_donations.empty? %>
    This user hasn't posted any donations yet.
<% else %>
  <%= render "donations/donations_display" %>
<% end %>

<br> <br>
<p>Active since <%= @user.created_at.strftime("%B %Y") %> </p>