<h1>User: <%= @user.username %></h1>

<p>Phone number: 
    <% if logged_in? && @current_user.contact_permission?(@user) %>
        <%= @user.phone_number %>
    <% else %>
        XXXXXXXXXXX
        <p>Show interest in one of <strong><%= @user.username %></strong>'s donations to see their phone number.</p>
    <% end %>

<br>
<p>Donations: </p>

<% @user.my_donations.each do |donation| %>
  <p><%= link_to donation.title, donation_path(donation) %></p>
<% end %>

<p>Active since <%= @user.created_at.strftime("%B %Y") %> </p>