<h1>Welcome to Donation Station</h1>

<i><p>The website for giving lovers</p></i>
<br>
<p><%= link_to "Search donations", donations_path %></p>

<p> <strong>Today's trending donation</strong>: <%= @trending_donation.username %>'s <strong><%= link_to @trending_donation.title, donation_path(@trending_donation) %></strong>, with <%= pluralize(@trending_donation.interests.count, "interest") %>!</p>
<p>There's big interest in <strong><%= link_to @trending_user.username, user_path(@trending_user) %></strong>'s donations, with <%= pluralize(@trending_user.interests_received.count, "interest") %> across <%= pluralize(@trending_user.my_donations_with_interest.count, "donation") %>.</p>
<br>
<p> <strong><%= @location_with_most_donations.name %> London</strong> is the location with the most donations (<%= @location_with_most_donations.donations_count %>) </p>
<p> <strong><%= @category_with_most_donations.name.capitalize %></strong> is the category with the most donations (<%= @category_with_most_donations.donations_count %>) </p>
<p> <strong><%= link_to @user_with_most_donations.username, user_path(@user_with_most_donations) %></strong> is the user with the most donations (<%= @user_with_most_donations.donations_count %>) </p>

<!-- user with most total interests for their donations -->

<p><%= link_to "About", about_path %></p>

