<br>
<div class="row">
<% @donations.each do |donation| %>
    <div class="col-sm-4">
    <div class="card" style="width: 25rem; height: 30rem">
        <% if donation.picture.attached? %>
            <img src="<%= (url_for(donation.picture))%>" class="card-img-top" alt="donation_pic" width=500>
        <% else %>
            <img src="/Users/flatiron/Downloads/no-image.png" class="card-img-top" alt="no image available for this donation" width=500>
        <% end %>
        <div class="card-body">
        <h5 class="card-title"><%= donation.title %></h5>
        <p><%= donation.location.name %> - posted by <strong><%= donation.username %></strong></p>
        <p class="card-text"><%= donation.description %></p>
        <a href="<%= donation_path(donation) %>" class="stretched-link"></a>
        </div>
    </div>
    </div>
<% end %>
</div>