<% @donations.each do |donation| %>
  <h3>Title: <%= link_to donation.title, donation_path(donation) %></h3>
  <p>Description: <%= donation.description %></p>
  <% if donation.picture.attached? %>
   <image src="<%=(url_for(donation.picture))%>">
  <% end %>
<% end %>

<%= form_tag search_results_path, :method => 'get' do %>
<%= text_field_tag :q, "" %><br>
<%= collection_select(:donation, :location_id, Location.all, :id, :name, {include_blank: 'Select location'}) %><br>
<%= collection_select(:donation, :category_id, Category.all, :id, :name, {include_blank: 'Select category'}) %><br>
<%= submit_tag "Search" %>
<% end %>
