<h1>Your selected donation</h1>

<h2><%= @donation.title %></h2>
<p><%= @donation.location.name %></p>
<p>Posted by <strong><%= @donation.user == @current_user ? "you" : @donation.username %></strong></p>
<u><p>Description: </p></u><p> <%= @donation.description %></p>
<p>
    <% if @donation.picture.attached? %>
     <image src="<%=(url_for(@donation.picture))%>">
    <% end %>
</p>

<% if logged_in? && @current_user.interest_shown?(@donation) %>

    You are showing interest in this donation. <br>

    <p>Contact <strong><%= link_to @donation.username, user_path(@donation.user.id) %></strong> on <strong><%= @donation.phone_number %></strong> to enquire about this item or arrange a collection.</p>
    <br>
    <%= form_tag(remove_interest_path) %>
        <%= hidden_field_tag :donation_id, @donation.id %>
        <%= submit_tag "Remove interest" %>
<% else %>

    <% unless @current_user == @donation.user %>

        <%= form_for(@interest) do |f| %>
            <%= f.hidden_field :donation_id, value: @donation.id %>
            <%= f.submit "Show interest" %>
        <% end %>
        
    <% end %>
  
<% end %> <br>

<br>
<% if @donation.user == @current_user %>

    <% if @donation.interests.empty? %>
        No users have shown interest in this donation yet.
    <% else %>
        <p>Contact these interested users to arrange a collection:</p>
        <ul>
            <% @donation.interests.each do |interest| %>
            <li><%= link_to interest.username, user_path(interest.user.id) %> - <%= interest.user_phone_number %></li>
            <% end %>
        </ul>
        <br>
    <% end %>
    <p><%= link_to 'Edit donation', edit_donation_path %></p>

<% else %>

    <% if @donation.interests.empty? %>
        No users have shown interest in this donation yet.
    <% elsif @donation.other_interests(@current_user).empty? %>
        No other users have shown interest in this donation yet.
    <% elsif @donation.other_interests(@current_user).count == 1 %>
        1 other user is currently showing interest in this donation.
    <% else %>
        <%= @donation.other_interests(@current_user).count %> other users are currently showing interest in this donation.
    <% end %>
    
<% end %>
    
