<!DOCTYPE html>
<html>
  <head>
    <title>DonationStation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="m-3">

    <nav>
      <% if logged_in? %>
        You are logged in as <strong><%= @current_user.username %></strong>
        <%= link_to "Home", user_home_path %>
        <%= link_to "My donations", my_donations_path %>
        <%= link_to "Add a donation", new_donation_path %>
        <%= link_to "Search donations", donations_path %>
        <%= link_to "Log out", logout_path %>  
      <% else %>
        <%= link_to "Homepage", root_path %>
        <%= link_to "Search donations", donations_path %>
        <%= link_to "Login", login_path %>
        <%= link_to "Register", register_path %>
      <% end %>
    </nav>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error_message| %>
      <div class="alert alert-danger" role="alert"><%= error_message %></div>
      <% end %>
    <% end %>

    <% if flash[:notices] %>
      <% flash[:notices].each do |message| %>
      <div class="alert alert-success" role="alert"><%= message %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
